*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    height: 200vh;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
}



.loading-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #fff;
    z-index: 100;
}


header{
    width: 1200px;
    margin: 0 auto;
    font-size: 12px;
    font-family: sans-serif;
}

.section-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.section-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-1 .search{
 
}

.section-1 .nav-list{
    margin-left: 100px;
    font-size: 10px;
}



.nav-list ul li{
    display: inline-block;
    margin-right: 10px;
}

.section-1 .account a{
    text-decoration: none;
    color: black;
}

.logo img{
    width: 430px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2 .date-time, .stock{
}

.section-2{
    border-bottom: 1px solid #ccc;
}

.date-time span{
    font-weight: bold;
    line-height: 1.4;
}

.section-3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    border-bottom: 1px solid black;
}

.section-3 ul li{
    display: inline-block;
    margin-right: 30px;
}

/* Container */

.container{
    border-top: 1px solid black;
    width: 1200px;
    margin: 0 auto;
    margin-top: 1.5px;
    filter: blur(0px);
    display: flex;
}

.container-left{
    width: 70%;
    display: flex;
    border-right: 1px solid #ccc;
    flex-direction: column;
    padding-right: 15px;
    
}

.container-right{
    width: 30%;
    padding: 20px 10px;
}

.container .news{
    padding-bottom: 24px;
    border-bottom: 1px solid hsla(0,0%,7.06%,1);
    margin-top: 20px;
}

.container-left .news .left{
    width: 300px;
    float: left;
}

.container-left .news .right{
    width: 500px;
    /* padding-right: 15px; */
    float: right;
}

.container-left .news .left .main{
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.container-left .news .left .live{
    padding-bottom: 10px;
    font-family: sans-serif;
}

.container-left .news .left span{
    color: #D0021B;
    font-size: 11px;
}

.container-left .news .left b{
    margin-right: 5px;
}

.container h3{
    margin-bottom: 10px;
}

.container p{
    font-size: 14px;
    color: #5A5A5A;
    line-height: 1.4;
    text-align: justify;
    letter-spacing: 0.1px;
}

.container a{
    font-size: 12px;
    color: #5A5A5A;
    text-decoration: none;
    font-family: sans-serif;
}

.container-left .news .left .description p{
    font-weight: bold;
    color: black;
    padding-top: 20px;
}

.container-left .news .article-2{
    padding-top: 20px;
}

.left hr{
    border: 0;
    height: 1px;
    background: #ccc;
    margin-top:  16px;
}

.container-left .news .right img{
    width: 100%;
    height: 100%;
}

.container small{
    float: right;
    font-size: 8.9px;
    color: gray;
    line-height: 1.4;
}

/* //Container-right */

.container-right .right-news{
    /* border-bottom: 1px solid #ccc; */
    width: 100%;
}

.container-right .right-news img{
    width: 100%;
    height: 100%;
}

.container-right .right-news h3{
    font-size: 19px;
    margin-top: 20px;
}


.container-right .multi-news{
    display: flex;
    height: 222px;
}

.container-right .multi-news .small-news{
    width: 50%;
    padding: 0 10px;
}

.container-right hr{
    margin: 16px 0px;
}

.multi-news .small-news img{
    width: 100%;
}

.multi-news .small-news.border {
    border-left: 1px solid #ccc;
    padding-left: 10px; 
}

.multi-news .small-news p{
    font-size: 14px;
    color: black;
    text-align: left;
    font-weight: bold;
}

/* .button{
    display: block;
} */

.small-news{
    display: none;
}

.button{
    float: right;
}

.button button{
    padding: 5px 8px;
    border-radius: 50%;
    font-size: 12px;
    border: none;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button button:hover{
    background-color: #ccc;
}





